@charset "utf-8";
body{
	-webkit-font-smoothing : antialiased; //Pr safarie et chrome sur mac sinon les polices sont un poil plus grasse. ATTENTION NE pas commenter même avec un autoprefixer
	font-smoothing : antialiased;
	-webkit-text-size-adjust:none;
	text-size-adjust:none;
	-moz-osx-font-smoothing: grayscale;//Pr ff sinon sur mac les polices sont un poil plus grasse
}
a{
	text-decoration:none;
	&.transition{
		//transition:all 0.15s ease 0s;
	}
	//&:hover, &:focus, &:active {
	&:hover{
		//color:$base-color;
	}
}
b,
strong{
	font-weight:400;
	font-family:$font-B;
}
p{
	//font-size:1.667rem;
	//line-height:1.249;
	a{
		&:hover{
			text-decoration:underline;
		}
	}
}
ul{
	li + li{
		margin-top:8px;
	}
}
*{
	-webkit-tap-highlight-color:transparent;

	/* test patch flckering ( ne pas pas faire sur *  mais que element concernés )
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	// semble resoudre le clignottement sur grnades images au scroll - a appliquer juste sur elements concernés
	-webkit-transform-style: preserve-3d;
 	*/
}

::selection {
  background: $color6 ;
  color: $color3; }
::-moz-selection {
  background: $color6 ;
  color: $color3; }
::-webkit-selection {
  background: $color6 ;
  color: $color3; }
::-khtml-selection {
  background: $color6 ;
  color: $color3; }