@charset "utf-8";
/* ------------------------------------ */
/* ==Menus                      	 	*/
/* Le style des items des menus         */
/* pas de positionnement des menus ici  */
/* ------------------------------------ */
.navtoogle{
	display:none;
	position:relative;
	width:28px;
	height:20px;
	line-height:28px;
	padding:0;
	text-align: center;
	font-size: 1.9rem;
	font-style:normal;
	background: transparent;
	border: none;
	cursor: pointer;
	text-indent:2000px;
	overflow:hidden;
	z-index:10;
	&:before{}
	&:after{}
}


.nav{
	ul{
		list-style:none;
	}
}
.nav-secondaire,
.nav-pagination{
	border-bottom:1px solid $gris4;

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content:space-start; //Horizontal : space-between stretch flex-start
		align-content:flex-start; //Vertical multiligne : space-between stretch flex-start
		align-items:stretch;//Vertical : 
		margin:0;
		padding:0;
	}
	li{
		//flex: 1 1 0%; //Grow Shrink Basis
		//width:auto;
		margin:0;
		padding:0;		
	}
	li + li{
		margin-left:10px;
	}
	li a{
		position:relative;
		display:block;
		padding:14px 8px;
		line-height:1.3;
		color:$color5;
		font-size:1.2rem;
		font-family:$font-BL;
		transition:color 0.15s ease-in;
		&:after{
			display:block;
			content:' ';
			position:absolute;
			height:4px;
			bottom:-1px;
			left:5px;
			right:5px;
			background-color:transparent;
			transition:background-color 0.2s linear;
		}
	}
	li.active,
	li:hover{
		a{
			color:$alpha-color;
			&:after{
				background-color:$alpha-background;
			}
		}
	}
}//.nav-secondaire

.nav-secondaire{}

.nav-pagination{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between; //Horizontal : space-between stretch flex-start
	align-items:center;//Vertical :
	ul{}
	li + li{}
	li a{
		padding:16px 8px;
	}
}

//-->Style Menu principal du site
.menu-p{
	padding:0;
	margin:0;

	ul{
		margin:0;
		padding:0;
		list-style-type: none; /* on annule la puce par défaut */
		list-style:none;
	}

	li{
		padding:0;
		margin:0;
		&:before{}
	}
	a{
		display:block;
		margin:0;
		padding:14px 0;
		//font-size:4.2rem;
		line-height:0.7;
		color:#fff;
		text-align:center;
		border-bottom:1px dashed rgba(255, 255, 255, 0.07);
		&:hover{
			background:rgba($alpha-background, 0.2);
		}
		svg{
			max-width:80%;
			width:46px;
			height:auto;
			fill: #FFFFFF;
			stroke: transparent;
			stroke-width: 0px;
		}
		i{
			font-size:4.2rem;
		}
		span{
			display:inline-block;
			margin:6px 0 0 0;
			font-family:'sans-serif';
			font-weight:300;
			font-size:1.2rem;
			line-height:normal;
			text-transform:uppercase;
		}
	}
	li.active{

		a{
			background:$alpha-color;//#8d8e8e
		}
	}
}//End menu-p (principal)

.menu-p--littleFat{
	
	a{
		font-size:1.0rem;
		line-height:1.8rem;
	}
}
