// Config file and project variables

// font sizes
$base-font-size : 1.4rem; // ex. 1.6rem would be "16px" equivalent
$line-height    : 1.5; // equiv line-height 1.5
$h1-size        : 10.0rem; //
$h2-size        : 5.0rem; //
$h3-size        : 3.0rem; //
$h4-size        : 1.6rem; //
$h5-size        : 1.2rem; //
$h6-size        : 1.15rem; //


// color scheme
$color1    : #565656;
$color2    : #464646;
$color3    : #fff;
$color4    : #f0f0f0;
$color5    : #aeaeae;
$color6    : #5568f4; //f45558
$color7    : #a055f4; //f79b59

$cVertClair:#7adaa3;
$cVert:#568331;
$cRouge : #e31b15;

$gris1:#eeeeee;
$gris2:#e4e4e4;
$gris3:#848484;
$gris4:#dbdbdb;

// colors used
// font
$base-color: $color1;
$alpha-color            : $color2; // text color on primary elements
$beta-color             : $color6; // text color on secondary elements

$headings-color         : $color2; // text color on headings
$headings-1-color       : $color7; // text color on headings level 1


// backgrounds
$base-background  : $color3;
$alpha-background : $color6; // primary elements background color
$beta-background  : $color7 ; // secondary elements background color

//Link
$link-color: $color6;
$link-hover-color: $color2;

//Les différents badges
$badges: (1: $cRouge, 2: #f88b7f, 3: #f5c8a3, 4: $cVertClair, 5: $color5, 6: #7ad5da);

//Les différents états
$notification-list: (
	(success, $cVertClair, '\f00c'),
	(error, $cRouge , '\f0e7'),
	(warning, #f5c8a3, '\f071'),
	(information, #7ad5da, '\f05a'),
);


//->Les typo selon la graisse
$font-R:  "ralewayregular", "Helvetica Neue", Helvetica, Arial, sans-serif !default; //400
$font-M:  "ralewaymedium", $font-R;//500
//$font-SB:  "ralewaysemibold", $font-R;//600
$font-B:  "ralewaybold", $font-R;//700
$font-EB:  "ralewayextrabold", $font-M;//800
$font-BL:  "ralewayblack", $font-EB;//900 (heavy)

// font stacks
$font-stack-common    : $font-R, sans-serif !default; // common font
$font-stack-headings  : $font-EB, sans-serif !default; // headings font
$font-stack-monospace : consolas, courier, monospace !default; // monospace font